<template name="footer">
  <div id="footer" class="ui footer page one column grid">
    <div class="column">
      <div class="ui divider"></div>
      <div>
        This is a prototype, no warranties!
      </div>
    </div>
  </div>
</template>
