<template name="masterLayout">
  {{> yield region='nav'}}
  <div id="content">
    <span class="ui red ribbon label"> &nbsp; Technology Preview</span>
    {{> yield}}
  </div>
  <!--{{> yield region='footer'}}-->
</template>
