<template name="nav">
  <div class="ui fixed transparent main menu ">
    <div class="header item">
      <img alt="Logo" width="25" height="30" src="/imgs/logo.svg">
      <a href="{{pathFor 'home'}}" style="color:black">
        <h1><strong>CONJOINT<span style="color:red">.</span>IT</strong></h1>
      </a>
    </div>
    <a class="{{isActiveRoute regex='survey-definitions'}} item" href="{{pathFor 'survey-definitions'}}">Surveys <div class="circular ui primary label">{{{count 'survey'}}}</div></a>
    <a class="{{isActiveRoute regex='analyzed-surveys'}} item" href="{{pathFor 'analyzed-surveys'}}">Results <div class="circular ui primary label">{{{count ''}}}</div></a>
    <div class="right menu">
    {{#if currentUser}}
        {{> user}}
    {{/if}}
    {{> atNavButton}}
    </div>
  </div>
</template>

<template name="user">
    <div class="ui item label">
          <i class="user icon"></i>
          {{firstName}}
    </div>
</template>
