<template name="surveyLayout">
  <div class="ui fixed transparent main menu">
    <div class="header item"><img alt="Logo" width="25" height="30" src="/imgs/logo.svg"> <a href="#" style="color:black"><h1><strong>CONJOINT<span style="color:red">.</span>IT</strong></h1></a></div>
  </div>
  <div id="content">
    {{> yield}}
  </div>
  <!--{{> yield region='footer'}}-->
</template>
