<template name="survey">
  <div class="ui container">

    <h1>{{survey.name}}</h1>
    <h2>{{survey.description}}</h2>
    <div class="ui basic segment">
    <div class="ui tiny progress success">
      <div class="bar" style="transition-duration: 300ms; width: {{progress page}}%;"></div>

    </div>
    </div>
    {{> deck products=(products page) pagenumber=page sessionId=sessionId surveyId=_id}}

    <div class="ui basic segment">
    <div class="ui floated right menu pagination">
      <a class="icon item" href="{{pathFor route='survey'  data=(getNext _id sessionId page 'prev')}}" >
        <i class="left chevron icon"></i>
      </a>
      <a class="icon item" href="{{pathFor route='survey'  data=(getNext _id sessionId page 'next')}}" >
        <i class="right chevron icon"></i>
      </a>
    </div>

  </div>
  </div>
</template>

<template name="deck">
  <div class="ui four doubling cards">
    <div class="ui grid">
      <div class="row">
        {{#each product in products}}
        {{> card cardnumber=@index product=product pagenumber=pagenumber sessionid=sessionId surveyid=surveyId}}
        {{/each}}
      </div>
    </div>
  </div>
</template>

<template name="card">
  <div class="ui shape" id="card{{cardnumber}}">
    <div class="sides">
      <div class="side active js-front">
        <div class="ui survey card">
          <div class="image">
            <img src="/imgs/product.png">
          </div>
          <div class="content">
            <div class="header">
            </div>
            <div class="meta">
              <a>{{productname cardnumber}}{{pagenumber}}</a>
            </div>
            <div class="description">
              <table class="ui striped fixed single line table">
                {{#each keys product}}
                <tr>
                  <td class="content">
                    <h4 class="ui header">
                      <div class="content">
                        {{value this}}
                        <div class="sub header">{{this}}</div>
                      </div>
                    </h4>
                  </td>
                </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="side js-back">
        <div class="ui survey card">
          <div class="blurring dimmable image dimmed">
            <div class="ui inverted dimmer active">
            <div class="content">
                <div class="center">
                  <h1><i class="big green circular check icon"></i></h1>
                </div>
            </div>
          </div>
            <img src="/imgs/product.png">
          </div>
          <div class="content">
            <div class="header">
            </div>
            <div class="meta">
              <a>{{productname cardnumber}}</a>
            </div>
            <div class="description">
              <table class="ui striped fixed single line table">
                {{#each keys product}}
                <tr>
                  <td class="content">
                    <h4 class="ui header">
                      <div class="content">
                        {{value this}}
                        <div class="sub header">{{this}}</div>
                      </div>
                    </h4>
                  </td>
                </tr>
                {{/each}}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
