<template name="surveyNotPublic">
  <div class="ui fluid center aligned basic fitted segment">
    <h3>Survey not public</h3>
    <h5>The survey '{{_id}}' is not yet published</h5>
  </div>
</template>
