<template name="surveyDefinitionsEdit">
  {{#with surveyDefinition}}
  <div class="ui container">
    <div>
      <h1>Edit Survey {{_id}}</h1>
    </div>
    <div class="ui form">
      <div class="grouped fields">
        <div class="required field">
          <label>Question</label>
          <input id="name" type="text" placeholder="Enter a question to your respondends" value="{{name}}">
        </div>
        <div class="field">
          <label>Description</label>
          <input id="description" type="text" placeholder="Here you have the chance to explain more about your products" value="{{description}}">
        </div>
      </div>
      <div class="grouped fields">
        <div class= "field">
          <label>Features</label>
          <table class="ui selectable table blue">
            <thead>
              <tr>
                <th class="active"></th>
                <th>Attribute 1</th>
                <th>Attribute 2</th>
                <th>Attribute 3</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
              {{#each features}}
               {{> surveyDefinitionsEditRow rownumber=@index name=name attributes=attributes type=type}}
              {{/each}}
            </tbody>
        </table>
    </div>
  </div>

  <a id="leave-surveydefinition" class="big right floated blue circular ui icon button" href="/survey-definitions">
    <i class="icon list"></i>
  </a>
  <button id="remove-surveydefinition" class="big right floated grey circular ui icon button">
    <i class="icon trash"></i>
  </button>
  </div>
</div>
{{/with}}
</template>

<template name="surveyDefinitionsEditRow">
  <tr>
    {{#if isCategorical}}
    <td class="active"><div class="ui transparent input"><strong><input  class="feature name" type="text"  placeholder="a feature, e.g. 'Color'" value="{{name}}"></strong></div></td>
    <td><div class="ui transparent input"><input type="text" class="feature attribute" name="att0" placeholder="an attribute, e.g.: Red" value="{{featureattribute 0}}"></div></td>
    <td><div class="ui transparent input"><input type="text" class="feature attribute" name="att1" placeholder="Green" value="{{featureattribute 1}}"></div></td>
    <td><div class="ui transparent input"><input type="text" class="feature attribute" name="att2" placeholder="Blue" value="{{featureattribute 2}}"></div></td>
    {{else}}
    <td class="active"><div class="ui transparent input"><strong><input  class="feature name" type="text"  placeholder="Price, e.g. 'Montly Price in EUR'" value="{{name}}"></strong></div></td>
    <td><div class="ui transparent input"><input type="text" class="feature attribute" name="att0" placeholder="an price, '12'" value="{{featureattribute 0}}"></div></td>
    <td><div class="ui transparent input"><input type="text" class="feature attribute" name="att1" placeholder="'29'" value="{{featureattribute 1}}"></div></td>
    <td><div class="ui transparent input"><input type="text" class="feature attribute" name="att2" placeholder="'39.99'" value="{{featureattribute 2}}"></div></td>
    {{/if}}
    <td>
      {{type}}
    </td>
  </tr>
</template>
