<template name="PublishedSurveys">
  <div class="ui container">
    <div>
      <h1>Record Survey Answers</h1>
    </div>

    <table class="ui blue selectable striped table">
      <thead>
        <tr>
          <th class="sorted ascending">Title</th>
          <th class="sorted ascending">Publication Date</th>
          <th class="sorted ascending">Link</th>
          <th class="sorted ascending">Responses</th>
          <th class="right aligned"></th>
        </tr>
      </thead>
      <tbody>
        {{#each surveys}}
        <tr>
          <td>{{name}}</td>
          <td>{{publication_date}}</td>
          <td><i class="linkify icon"></i> Share this link <a target="_new" href="http://{{url}}">{{url}}</a></td>
          <td>23/100</td>
          <td class="right aligned">
            <div class="ui icon buttons">
              <button class="ui green button">
                <i class="play icon"></i>ON
              </button>
              <button class="ui button">
                <i class="linkify icon"></i>
              </button>
              <button class="ui button">
                <i class="bar chart icon"></i>
              </button>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <button class="big right floated red circular ui icon button">
      <i class="icon add"></i>
    </button>


    <!--
    <div ng-repeat="surveyDefinition in surveyDefinitionEntries">
    	<hr />
    	<div class="pull-right">
    		<a href="" ng-click="deleteEntry(surveyDefinition)"	class="btn btn-xs btn-default" title="delete"><span	class="glyphicon glyphicon-trash"></span></a>
    		<a href="#!/edit/{{surveyDefinition.id}}" class="btn btn-xs btn-default" title="edit"><span class="glyphicon glyphicon-pencil"></span></a>
    		<a href="" ng-click="switchIsPublished(surveyDefinition)" class="btn btn-xs btn-default" ng-class="{active: surveyDefinition.published}" title="publish" ><span class="glyphicon glyphicon-send"></span></a>
    		<a href="#!/stats/{{surveyDefinition.id}}" class="btn btn-xs btn-default" title="analyze"><span class="glyphicon glyphicon-stats"></span></a>
    	</div>
    	<h4>{{surveyDefinition.title}}</h4>
    	<p>{{surveyDefinition.date | date}}</p>
    	<p>{{surveyDefinition.content}}</p>
    	<p>
    		<span class="glyphicon glyphicon-send" ng-class="{'text-muted': !surveyDefinition.published}" title="published"></span>
    		<a	target="_new" href="{{surveyDefinition.url = location.absUrl().replace('/#!','')+'participant/#!/survey/'+surveyDefinition.id+'/0';}}">{{surveyDefinition.url}}</a>
    	</p>
    	<p><span>Surveys filled out: </span><span class="label label-success">{{surveyDefinition.surveys.length}}</span></p>

    </div>
  -->

  </div>
</template>
