<template name="SurveyDefinitions">
  <div class="ui container">

      <h1>Edit Surveys</h1>
       <div class="ui three stackable cards">
        {{#each surveydefinitions}}
        <div class="ui card definitionsummary">
          <div class="image">
            <img src="http://lorempixel.com/512/200/nature/{{inc @index}}/" alt="" />
          </div>
          <div class="content" id="{{_id}}">
            <div class="header"><h2>{{name}}</h2></div>
            <div class="meta">
              <span class="right floated time">{{moment modification_date}}</span>
              <span class="category">0/20</span></div>
            <div class="description">
              <h4>{{description}}</h4>
            </div>
          </div>
          <div class="extra content">
            <h5>
               {{describefeatures}}
            </h5>
          </div>
          <div class="extra content">
            <span class="ui icon buttons publish">
              <span class="ui left green button toggle {{published}}">
                <i class="send icon"></i> {{publishedButtonText}}
              </span>
            </span>
            <span class="ui icon buttons">
              <button class="ui blue icon button">
                <a style="color:white" href="{{pathFor route='definition.edit'}}" class="{{published}}"><i class="edit icon {{published}}"></i>Edit</a>
              </button>
            </span>
            <span class="ui icon buttons">
              <!-- Trigger -->
              <button class="ui toggle button js-copy-link" data-clipboard-text="{{url}}">
                <i class="linkify icon"></i>Copy Link
              </button>
            </span>
          </div>
        </div>
        {{/each}}
      </div>

    <button id="add-surveydefinition" class="big right floated red circular ui icon button">
      <i class="icon">+</i>
    </button>
  </div>
</template>

<!--
<template name="SurveyDefinitions">
  <div class="ui container">
    <div>
      <h1>Edit Surveys</h1>
    </div>

    <table class="ui sortable selectable striped table blue">
      <thead>
        <tr>
          <th class="">Title</th>
          <th class="">Description</th>
          <th class="">Features</th>
          <th class="">Creation Date</th>
          <th class="">Last Modified</th>
          <th class="right aligned"></th>
        </tr>
      </thead>
      <tbody>
        {{#each surveydefinitions}}
        <tr id="{{_id}}" class="definitionsummary">
          <td><h5>{{name}}</h5></td>
          <td>{{description}}</td>
          <td>{{describefeatures}}</td>
          <td>{{moment creation_date}}</td>
          <td>{{moment modification_date}}</td>
          <td class="right aligned">
            <div class="ui icon buttons">
              <button id="publish" class="ui green publish button {{published}}">
                <i class="send icon"></i> {{publishedButtonText}}
              </button>
            </div>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>

    <button id="add-surveydefinition" class="big right floated red circular ui icon button">
      <i class="icon add"></i>
    </button>
  </div>
</template>


 -->
