html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif /*rtl:prepend:"Droid Arabic Kufi","Droid Sans", */;
  background-color: #fcfcfc;
  margin: 0px;
  /* Margin bottom by footer height */
  margin-bottom: 70px;
  padding: 0px;
  min-width: 320px;
}
#backend{
  background-image: url(/imgs/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#content {
  padding-top: 100px;
}

#footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  height: 70px;
}

#footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

#conti {
  height: 420px;
  width: 100%;
  position: relative;
}
#image {
  position: absolute;
  left: 0;
  top: 0;
}
#text {
  z-index: 100;
  position: absolute;
  color: white;
  font-size: 30px;
  left: 50px;
  top: 20px;
}

.survey.card
{
    cursor: pointer;
}
