<template name="AnalyzedSurveys">
  <div class="ui container">

      <h1>Analyze your Surveys</h1>
       <div class="ui three stackable cards">
        {{#each surveys}}
        <div class="ui card">
          <div class="content" id="{{_id}}">
            <div class="header">{{name}}</div>
            <div class="meta">
              <span class="right floated time">{{moment modification_date}}</span>
              <span class="category">0/20</span></div>
            <div class="description">
              <p>{{description}}</p>
              <p>
                 {{willingnessToPay}}
              </p>
              <p class="">

              </p>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      {{> upload}}
  </div>
</template>

<template name="upload">

  <div>
    <label for="file" class="big right floated blue circular ui icon button">
        <i class="cloud upload icon"></i>
    </label>
    <input type="file" style="display:none" id="files" name="files[]" multiple/>
    <output id="list"></output>
  </div>
</template>
