<template name="home">
  <div class="ui container segment">
    <div class="ui center aligned segment">
        <p>This is a preview of</p>
        <h1><strong>CONJOINT<span style="color:red">.</span>IT</strong></h1>
        <div class="ui horizontal divider">
          also known as
        </div>
        <h2>"The <strong class="red">Price</strong> is <strong>Right</strong>" Datascience</h2>
        <p>
          Discover how Discrete Choice Experiments will help you to price your products and services correctly.
        </p>
    </div>
    <div class="feature alternate ui stripe vertical segment bottom attached">
      <div class="ui three column center aligned divided relaxed stackable grid container">
        <div class="row">
          <div class="column">
            <h2 class="ui icon header">
              <i class="ui icon money"></i>
              Price Perfect
            </h2>
            <p>The optimal price is vital to your success. <em>We find it</em>.</p>
          </div>
          <div class="column">
            <h2 class="ui icon header">
            <i class="ui icon world"></i>
            Universaly Applicable
          </h2>
            <p>Wether a <em>service or a product</em>: <a href="#">Conjoint.it</a> finds the right price for it.</p>
          </div>
          <div class="column">
            <h2 class="ui icon header">
            <i class="ui icon diamond"></i>
          Top Science
        </h2>
            <p>
              Based on the same principles, Daniel Mc Fadden won the
              <a href="http://www.nobelprize.org/nobel_prizes/economic-sciences/laureates/2000/mcfadden-facts.html" target="_blank">
              Prize in Economic Sciences in Memory of Alfred Nobel</a> in the year 2000.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="segment">
      <br>
      <div class="ui six column centered grid">
        <div class="column">
          <a class="ui big green button" href="/sign-up">Sign up now!</a>
        </div>
      </div>
      <br>
    </div>
  </div>
    <!--
    <div class="ui three top attached steps">
      <div class="step">
        <i class="edit icon"></i>
        <div class="content">
          <div class="title"> Describe</div>
          <div class="description">your product features</div>
        </div>
      </div>
      <div class="step">
        <i class="send icon"></i>
        <div class="content">
          <div class="title"> Publish</div>
          <div class="description">to your focus group</div>
        </div>
      </div>
      <div class="step">
        <i class="bar chart icon"></i>
        <div class="content">
          <div class="title"> Know</div>
          <div class="description">the right price</div>
        </div>
      </div>
    </div>
  -->
</template>
